*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(44, 28, 100);
}
.container{
    position: relative;
    width: 80px;
    height: 50px;
    border: 2px solid royalblue;
    border-radius: 40px;
    transition: 0.5s;
}
.container:hover{
    width: 120px;
}
.container .next{
    position: absolute;
    right: 30px;
    top: 50%;
    width: 12px;
    height: 12px;
    border-top:2px solid #fff;
    border-left: 2px solid #fff;
    display: block;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}
.container:hover .next{
    opacity: 1;
  right: 15px;
}
.container .preview{
    position: absolute;
    left: 30px;
    top: 50%;
    width: 12px;
    height: 12px;
    border-top:2px solid #fff;
    border-left: 2px solid #fff;
    display: block;
    transform: translateY(-50%) rotate(315deg);
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}
.container:hover .preview{
    opacity: 1;
  left: 15px;
}
.container #box #number{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:#00ffff;
    font-weight: bold;
    font-size: 22px;
    user-select: none;
}